/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image{
  width: 500px;
  height: 500px;
 transition: all 1s linear;
}

div{
  background-color: black;
  width: 600px;
  height: 300px;
} */

.tasbeh{
  background-color: blue;
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;

}

button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-left: 5.5rem;
  margin-top: .5rem;
  border-radius: 5px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
 border-radius: 50%;
}

.btn{
  display: flex;
  justify-content: center;
  
}

button:active{
  color: white;
  background-color: black;
}

h2{
  background-color: white;
  width: 150px;
  margin-left: 40px;
  border-radius: 10px;
}
